<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.rawgit.com/zachary-loughridge/registration/master/bootstrap.min.css" />
    <!-- for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/zachary-loughridge/registration/master/registrationController.js"></script>

  </head>
  <body ng-app="App">
  	<div ng-controller="main" data-ng-init="load()" class="container">
	    <img src="https://lh4.googleusercontent.com/--Mwpb4yvjAI/AAAAAAAAAAI/AAAAAAAAAAA/8ltd0r098O0/s44-p-k-no-ns-nd/photo.jpg">
	    <h3 style="display:inline-block;vertical-align:top;">Availity</h3>
	    <p>Availity is the place where healthcare finds the answers needed to shift focus back to patient care. 
	    By solving the communication challenges between healthcare stakeholders, Availity creates a richer, more transparent exchange of information among health plans, 
	    providers, and technology partners. As the nation’s largest health information network, Availity facilitates over 4 billion clinical, administrative, 
	    and financial transactions annually. The company’s suite of dynamic products, built on a powerful, intelligent platform, enables real-time collaboration 
	    for success in a competitive, value-based care environment.</p>
    	<h5 style="text-align:center;">To learn more, fill out the info below and someone will be in contact with you.</h5>
    	
    	<div class="demo border border-light" style="padding:3%">
    	<form>
    		<div class="form-row">
    			<div class="form-group col">
    			<label for="firstName">First Name</label>
    			<input id="firstName" class="form-control" type="text" ng-model="formData.firstName">
    			</div>
    			<div class="form-group col">
    			<label for="lastName">Last Name</label>
    			<input id="lastName" class="form-control" type="text" ng-model="formData.lastName">
    			</div>
    			<div class="form-group col">
    			<label for="npiNo">NPI Number</label>
    			<input id="npiNo" class="form-control" type="text" maxlength="10" minlength="10" ng-model="formData.npi">
    			</div>
    		</div>
    		<div class="form-row">
    			<div class="form-group col">
    			<label for="email">Email</label>
    			<input id="email" class="form-control" type="email" placeholder="example@me.com" ng-model="formData.email">
    			</div>
    			<div class="form-group col">
    			<label for="phone">Phone Number</label>
    			<input id="phone" class="form-control" type="text" placeholder="(555)-333-4444" maxlength="16" minlength="16" ng-model="formData.phone" format-phone>
    			</div>
    		</div>
    		<div class="form-group">
			    <label for="inputAddress">Business Address</label>
			    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" ng-model="formData.address">
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="inputCity">City</label>
			      <input type="text" class="form-control" id="inputCity" ng-model="formData.city">
			    </div>
			    <div class="form-group col-md-4">
			      <label for="inputState">State</label>
			      <select id="inputState" class="form-control" ng-model="formData.state" ng-options="x.abbreviation for x in states">
			      <option value="" disabled selected>Choose One</option></select>
			      </select>
			    </div>
			    <div class="form-group col-md-2">
			      <label for="inputZip">Zip</label>
			      <input type="text" class="form-control" id="inputZip" maxlength="5" ng-model="formData.zip">
			    </div>
			  </div>
    		
    		<button type="button" class="btn btn-success" ng-click="submit()">Join Now</button>
    	</form>
    	</div>
    </div>
  </body>
</html>
